/* Variables comunes */
:root {
    --font-color: #000;
    --background-color: #fff;
    --card-background: #f1f1f1;
    --card-border: #ddd;
}

/* Modo oscuro */
[data-theme="dark"] {
    --font-color: #fff;
    --background-color: #121212;
    --card-background: #242424;
    --card-border: #333;
}

img {
    width: 100%;
}

.card {
    background-color: var(--card-background);
    border: 1px solid var(--card-border);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    transition: background-color 0.3s, border-color 0.3s; /* transiciones suaves al cambiar de tema */
}

.favButton.dark{
    color: white;
}